{#        <div class="app row">#}
{#            <div class="col-md-4 mobile-margin">#}
{#                <div class="recent-tweet">#}
{#                    <div class="header app vertical">#}
{#                        <img class="logo" src="{% static "image/logo_transparent.png" %}">#}
{#                        <div class="info">#}
{#                            <strong>Zonix Network</strong>#}
{#                            <span>@ZonixUS</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                    </div>#}
{#                    <div class="footer">#}
{#                        <span>7:19 AM | January 7th, 2018</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4 mobile-margin">#}
{#                <div class="recent-tweet">#}
{#                    <div class="header app vertical">#}
{#                        <img class="logo" src="{% static "image/logo_transparent.png" %}">#}
{#                        <div class="info">#}
{#                            <strong>Zonix Network</strong>#}
{#                            <span>@ZonixUS</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                    </div>#}
{#                    <div class="footer">#}
{#                        <span>7:19 AM | January 7th, 2018</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="recent-tweet">#}
{#                    <div class="header app vertical">#}
{#                        <img class="logo" src="{% static "image/logo_transparent.png" %}">#}
{#                        <div class="info">#}
{#                            <strong>Zonix Network</strong>#}
{#                            <span>@ZonixUS</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                    </div>#}
{#                    <div class="footer">#}
{#                        <span>7:19 AM | January 7th, 2018</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}