{% extends "base/base.html" %}

{% load static %}
{% load general_tags %}
{% load time_tags %}

{% block title %}
    Staff Applications
{% endblock title %}

{% block page_content %}
    <div class="container" id="applications">
        <div class="row g-row listed">
            <div class="col-md-12">
                <div class="table-wrapper">
                    <div class="table-header">
                        Staff Applications
                    </div>
                    <div class="table-content">
                        <a class="title-btn btn themed-red-btn" href="/applications/new/">New Application</a>
                    </div>
                    <div class="table-content no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="fit"></th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th class="fit">
                                    Status
                                </th>
                                <th class="fit">
                                    Last Update
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if context.applications_size > 0 %}
                                {% for application in context.applications %}
                                    <tr>
                                        <td class="fit">
                                            <a class="btn btn-dark" href="/support/tickets/v/{{ application.id }}/">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/applications/v/{{ application.id }}/">Application #{{ application.id }}</a>
                                        </td>
                                        <td class="fit">
                                            <img class="app avatar small margin" src="https://visage.surgeplay.com/face/32/{{ application.creator }}">
                                            <a href="/player/{{ application.creator }}/">{{ application.creator }}</a>
                                        </td>
                                        <td class="fit">
                                            {% if application.status == 'a' %}
                                                <span class="btn themed-green-btn">{{ application.status_pretty }}</span>
                                            {% elif application.status == 'b' %}
                                                <div class="btn themed-yellow-btn">{{ application.status_pretty }}</div>
                                            {% elif application.status == 'c' %}
                                                <div class="btn themed-green-btn">{{ application.status_pretty }}</div>
                                            {% elif application.status == 'd' %}
                                                <div class="btn themed-red-btn">{{ application.status_pretty }}</div>
                                            {% else %}
                                                {{ context.ticket.status_pretty }}
                                            {% endif %}
                                        </td>
                                        <td class="fit">
                                            {% format_timestamp application.updated_timestamp '%B %d %Y - %I:%M %p' False %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">You do not have any past applications.</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
