{% load general_tags %}
{% load time_tags %}

<div class="recent-activity">
    <div class="header">
        Recent Activity
    </div>
    {% if context.recent_posts_size > 0 %}
        {% for post in context.recent_posts %}
            <div class="recent-post g-v">
                <img class="g-avatar" src="https://visage.surgeplay.com/face/{{ post.data.creator }}">
                <div class="info">
                    <a class="title" href="/forums/t/v/{{ post.data.id }}/">{% shorten_string post.data.title 24 %}</a>
                    <span>{{ post.type }} by <a href="/player/{{ post.data.creator }}/">{{ post.data.creator }}</a> {% timeago_helper post.data.date %}</span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="recent-post g-v">
            <p>There are no recent posts to display.</p>
        </div>
    {% endif %}
</div>