{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Forgotten Password
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row g-row listed justify-content-center">
            <div class="col-md-6">
                <div class="table-wrapper">
                    <div class="table-header">
                        Forgot Password
                    </div>
                    <div class="table-content">
                        <form class="form" id="reset-form">
                            <small class="text-muted">After you submit this form, check your email for your password reset link. If you do not receive your email, please contact an administrator through our TeamSpeak server.</small>
                            <div class="alert" id="reset-response"></div>
                            <div class="form-group">
                                <input type="email" name="email_address" class="form-control" placeholder="Email Address" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-primary">Send Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block body_bottom %}
    <script type="text/javascript">
        setupRecoveryForm();
    </script>
{% endblock body_bottom %}